# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# dev container
.devcontainer/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Docker files
docker-compose.override.yml
docker-compose.override.yaml

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# My local scripts/temp folders (example)
scripts/temp/

# Ignore data dump or raw files if needed
data/raw/

# google cloud keys and api keys
yelpdaily*.json
yelp_api_key.txt